.all-pages-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.all-pages-content-area {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    box-sizing: border-box;
}

#root, body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
}